@import "tailwindcss";    
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Space-grotesk, sans-serif;
  background-color: #0a0a0a;
  color: #F3f4f6;
}

