@import "tailwindcss";    
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Space-grotesk, sans-serif;
  background-color: #0a0a0a;
  color: #F3f4f6;
}

@layer utilities {
    @keyframes blink {
      0%, 100% {opacity: 1;}
      50% {opacity: 0;}
    }
  
    .animate-blink{
      animation: blink 0.8s step-end infinite;
    }

  @keyframes loading {
    0% {transform: translate(-100%);}
    100% {transform: translate(250%);}
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}